nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
    height: 100vh;
    background: ghostwhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    opacity: 1;
    clip-path: circle(50px at 100% -10%);
    -webkit-clip-path: circle(50px at 100% -10%);
    @media (max-width: 1000px){
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        font-size: 80%;
    }  
    .nav-links{
        margin-top: 2rem;
        font-size: 3rem;
        @media (max-width: 1000px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }  
        h3{
            padding: 3rem 0rem;
        }
    }
    .contact{
        @media (max-width: 1000px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }  
        h2{
            font-size: 3rem;
            padding: 2rem 0rem;
        }
        p{
            font-size: 1.5rem;
            line-height: 2rem;
        }

    }
}